In [34]:
import os
os.chdir(r'C:\Users\abhis\OneDrive\Desktop\DataScience\ML-Edurekha\W2\Data')

In [35]:
os.getcwd()

'C:\\Users\\abhis\\OneDrive\\Desktop\\DataScience\\ML-Edurekha\\W2\\Data'

In [101]:
import pandas as pd

In [126]:
df = pd.read_csv('AllCountries.csv',  nrows=10)

In [127]:
x = df.iloc[:10,1:6].values

In [128]:
df

,Country,LandArea,Population,GDP,Rural,Internet,BirthRate,DeathRate,ElderlyPop,LifeExpectancy,FemaleLabor,Unemployment
0,Afghanistan,652.86,30.552,665.0,74.1,5.9,34.1,7.8,2.3,60.9,16.2,NaN
1,Albania,27.40,2.897,4460.0,44.6,60.1,12.9,6.9,10.7,77.5,51.7,13.4
2,Algeria,2381.74,39.208,5361.0,30.5,16.5,24.3,5.9,4.6,71.0,16.2,11.0
3,American Samoa,0.20,0.055,NaN,12.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,0.47,0.079,NaN,13.8,94.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Angola,1246.70,21.472,5783.0,57.5,19.1,44.1,13.9,2.4,51.9,64.5,NaN
6,Antigua and Barbuda,0.44,0.090,13342.0,75.4,63.4,16.5,6.1,7.1,75.8,NaN,NaN
7,Argentina,2736.69,41.446,14715.0,8.5,59.9,16.8,7.7,10.9,76.2,55.1,7.2
8,Armenia,28.47,2.977,3505.0,37.0,46.3,13.7,8.7,10.3,74.5,58.4,NaN
9,Aruba,0.18,0.103,NaN,57.9,78.9,10.3,8.4,11.3,75.3,NaN,NaN

In [129]:
q1 = df.quantile(0.25)
q3 = df.quantile(0.75)
IQR = q3-q1

In [130]:
q1

LandArea             0.44750
Population           0.09325
GDP               3982.50000
Rural               17.97500
Internet            19.10000
BirthRate           13.50000
DeathRate            6.70000
ElderlyPop           4.05000
LifeExpectancy      68.47500
FemaleLabor         25.07500
Unemployment         9.10000
Name: 0.25, dtype: float64

In [131]:
q3

LandArea          1098.240
Population          28.282
GDP               9562.500
Rural               57.800
Internet            63.400
BirthRate           26.750
DeathRate            8.475
ElderlyPop          10.750
LifeExpectancy      75.900
FemaleLabor         57.575
Unemployment        12.200
Name: 0.75, dtype: float64

In [132]:
IQR

LandArea          1097.79250
Population          28.18875
GDP               5580.00000
Rural               39.82500
Internet            44.30000
BirthRate           13.25000
DeathRate            1.77500
ElderlyPop           6.70000
LifeExpectancy       7.42500
FemaleLabor         32.50000
Unemployment         3.10000
dtype: float64

In [133]:
df[~((df<(q1-1.5*IQR))| (df> (q3+1.5*IQR))).any(axis=1)]

,Country,LandArea,Population,GDP,Rural,Internet,BirthRate,DeathRate,ElderlyPop,LifeExpectancy,FemaleLabor,Unemployment
0,Afghanistan,652.86,30.552,665.0,74.1,5.9,34.1,7.8,2.3,60.9,16.2,NaN
1,Albania,27.40,2.897,4460.0,44.6,60.1,12.9,6.9,10.7,77.5,51.7,13.4
2,Algeria,2381.74,39.208,5361.0,30.5,16.5,24.3,5.9,4.6,71.0,16.2,11.0
3,American Samoa,0.20,0.055,NaN,12.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,0.47,0.079,NaN,13.8,94.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,0.44,0.090,13342.0,75.4,63.4,16.5,6.1,7.1,75.8,NaN,NaN
7,Argentina,2736.69,41.446,14715.0,8.5,59.9,16.8,7.7,10.9,76.2,55.1,7.2
8,Armenia,28.47,2.977,3505.0,37.0,46.3,13.7,8.7,10.3,74.5,58.4,NaN
9,Aruba,0.18,0.103,NaN,57.9,78.9,10.3,8.4,11.3,75.3,NaN,NaN

In [136]:
def outlier_treatment(dataframe):
    Q1 = dataframe.quantile(0.25)
    Q3 = dataframe.quantile(0.75)
    IQR = Q3-Q1
    df_rem_out = dataframe[~((dataframe<(Q1-1.5*IQR))| (dataframe> (Q3+1.5*IQR))).any(axis=1)]
    return df_rem_out

In [137]:
outlier_treatment(df)

,Country,LandArea,Population,GDP,Rural,Internet,BirthRate,DeathRate,ElderlyPop,LifeExpectancy,FemaleLabor,Unemployment
0,Afghanistan,652.86,30.552,665.0,74.1,5.9,34.1,7.8,2.3,60.9,16.2,NaN
1,Albania,27.40,2.897,4460.0,44.6,60.1,12.9,6.9,10.7,77.5,51.7,13.4
2,Algeria,2381.74,39.208,5361.0,30.5,16.5,24.3,5.9,4.6,71.0,16.2,11.0
3,American Samoa,0.20,0.055,NaN,12.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,0.47,0.079,NaN,13.8,94.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,0.44,0.090,13342.0,75.4,63.4,16.5,6.1,7.1,75.8,NaN,NaN
7,Argentina,2736.69,41.446,14715.0,8.5,59.9,16.8,7.7,10.9,76.2,55.1,7.2
8,Armenia,28.47,2.977,3505.0,37.0,46.3,13.7,8.7,10.3,74.5,58.4,NaN
9,Aruba,0.18,0.103,NaN,57.9,78.9,10.3,8.4,11.3,75.3,NaN,NaN